# Ignore everything by default
*

# Allow only these folders
!Experts/
!Include/

# But only VantedgeTrading inside them
Experts/*
!Experts/VantedgeTrading/
Include/*
!Include/VantedgeTrading/

# But always include these files
!README.md
!TODO.md
!.gitignore