body{
    background-color: #0b0b0b;
    color: #e3e3e3;
    font-weight: 100;
    font-family: "Poppins";
    font-size: 11px;
    padding: 50px;
    margin: auto;
}

h1{
    font-size: 18px;
    color: #45baaf;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    background-color: #0e1518;
    border-bottom: #45baae3d 2px solid;
    border-radius: 5px;
    padding: 10px 0px;
}

h1 a{
    font-weight: 500;
}

h2{
    margin: 60px 0px 20px 0px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 5px;
    text-transform: uppercase;
}

table{
    width: 100%; /* Full width */
    border-collapse: collapse;
    background: #000000;
    border-radius: 8px;
    overflow: hidden; /* Ensure corners are rounded */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow-x: auto;
}

th{
    border: 1px solid #161616;
    padding: 5px 10px;
    text-align: left;
    background-color: #1a1a1a;
    font-size: 13px;
    font-weight: 400;
}

td{
    border: 1px solid #161616;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 10px;
    text-align: left;
}

hr{
    color: none;
    background-color: none;
    border: none;
}